:root{
/*     Paleta de colores */
--gris-100: #F7FAFC;
--gris-200: #EDF2F7;
--gris-300: #E2E8F0;
--gris-400: #CBD5E0;
--gris-500: #A0AEC0;
--gris-600: #718096;
--gris-700: #4A5568;
--gris-800: #2D3748;
--gris-900: #1A202C;

--indigo-100: #EBF4FF;
--indigo-200: #C3DAFE;
--indigo-300: #A3BFFA;
--indigo-400: #7F9CF5;
--indigo-500: #667EEA;
--indigo-600: #5B73FF; 
--indigo-700: #4f63d6;
--indigo-800: #4845b6;
--indigo-900: #473c9c;

--verde-100: #F0FFF4;
--verde-200: #C6F6D5;
--verde-300: #9AE6B4;
--verde-400: #68D391;
--verde-500: #48BB78;
--verde-600: #38A169; 
--verde-700: #2F855A;
--verde-800: #276749;
--verde-900: #22543D;

--rojo-100: #FFF5F5;
--rojo-200: #FED7D7;
--rojo-300: #FEB2B2;
--rojo-400: #FC8181;
--rojo-500: #F56565;
--rojo-600: #E53E3E; 
--rojo-700: #C53030;
--rojo-800: #9B2C2C;
--rojo-900: #742A2A;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: var(--gris-900);
    background-color: var(--gris-200);
}

.grid-container{
    display: grid;
    grid-template-columns:  [sidebar-inicio] 
                            240px [sidebar-final contenido-inicio] 
                            auto [contenido-final];
    grid-template-rows: [titulo-inicio] 
                        2fr  [titulo-final searchbar-inicio]
                        1fr [searchbar-final contenido-tab-inicio] 
                        auto [contenido-tab-final];
    width: 100vw;
    height: 100vh;
}

.sidebar{
    grid-column: sidebar-inicio / sidebar-final;
    grid-row: titulo-inicio / contenido-tab-final;
    padding: 25px 20px;
    background-color: var(--gris-100);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.tab-content{
    padding: 0 40px;
    max-width: 1000px;
}

.add-button-wrapper{
    grid-column: contenido-inicio / contenido-final;
    grid-row: titulo-inicio / titulo-final;
    padding-top: 50px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searchbar{
    grid-column: contenido-inicio / contenido-final;
    grid-row: searchbar-inicio / searchbar-final;
}

.mensajes{
    grid-column: contenido-inicio / contenido-final;
    grid-row: messages-inicio / messages-final;
    
    margin-top: 20px;
}

.content-container{
    grid-column: contenido-inicio / contenido-final;
    grid-row: contenido-tab-inicio / contenido-tab-final;
}

.logo{
    max-width: 80px;
    padding-bottom: 20px;
}

.depo-logo{
    margin-left: 70%;
}

.nav-group-title{
    color: var(--gris-600);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 20px 0 10px 0;
    cursor: default;
}

.nav-item{
    color: var(--gris-800);
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    margin: 2px 0;
    border-radius: 4px;
    cursor: pointer;
}

.nav-item:hover{
    background-color: var(--gris-300);
    color: var(--indigo-600);
    transition: 0.3s ease;
}

.nav-item-selected{
    color: var(--gris-100);
    background-color: var(--indigo-600);
}

.nav-item-selected:hover{
    color: var(--gris-100);
    background-color: var(--indigo-700);
    transition: 0.3s ease;
}

.nav-item-text{
	color: unset;
	text-decoration: none;
    padding-left: 5px;
    vertical-align: middle;
}
.material-icons-outlined{
    vertical-align: middle;
}

h1, h2, h3{
    color: var(--gris-800);
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

.add-button{
	justify-self: right;
	max-width: 185px;
}

.searchbar-container{
	position: relative;
    max-width: 1000px;
    margin-top: 30px;
    width: 100%;
    background-color: var(--gris-100);
    color: var(--gris-800);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.searchbar-container:focus-within{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
    transition: 0.35s ease;
}

.texto{
    border-radius: 3.5px;
    border: 1px solid var(--gris-300);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: var(--gris-800);
    font-size: 14px;
    padding: 7px 10px;
    margin-bottom: 16px;
}
.texto:focus{
	border-color: var(--indigo-300);
}

input.searchbar{
    width: 93%;
    margin: 0 auto;
    height: 50px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--gris-100);
}

.justificar-derecha{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.icono-searchbar{
    cursor: pointer;
    padding-top: 14px;
    padding-right: 30px;
    padding-left: 10px;
}

.mensaje{
    position: relative;
    padding: 8px 30px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
}

.mensaje-normal{
    background-color: var(--verde-100);
    color: var(--verde-700);
    border: 2px solid var(--verde-400);
    border-radius: 25px;
}

.icono-mensaje-normal{
    color: var(--verde-500);
}

.mensaje-error{
    background-color: var(--rojo-100);
    color: var(--rojo-700);
    border: 2px solid var(--rojo-400);
    border-radius: 25px;
}

.icono-mensaje-error{
    color: var(--rojo-500);
}

.icono-mensaje{
    cursor: pointer;
    padding-top: 7px;
    padding-right: 30px;
    padding-left: 10px;
}

.login-error{
	font-size: 13px;
    color: var(--rojo-500);
    font-style: italic;
}

.content-container{
    min-width: 650px;
    background-color: var(--gris-100);
    margin: 40px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

table{
    width: 100%;
    border-spacing: 0;
    padding-bottom: 8px;
}

th{
    background-color: var(--indigo-500);
    color: var(--gris-100);
    text-transform: uppercase;
    padding: 16px 0 8px 0;
    width: 50px;
    min-width: 50px;
}
th:first-child{
    border-radius:10px 0 0 0;
}
th:last-child{
    border-radius:0 10px 0 0;
}

tr, td{
    padding: 8px 0;
    text-align: center;
}

tr, td{
    border-bottom: 1px solid var(--gris-400);
}

.boton{
	width: unset;
    border: none;
    border-radius: 25px;
    padding: 6px;
    cursor: pointer;
    transition: 0.4s ease;
	color: unset;
	text-decoration: none;
}
.boton:hover{
    background-color: var(--gris-300);
}

.high-emphasis-wide{
    background-color: var(--indigo-500);
    color: var(--gris-100);
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.high-emphasis-wide:hover{
    background-color: var(--indigo-700);
}

.medium-emphasis{
    color: var(--indigo-500);
}

.medium-emphasis-wide{
    color: var(--indigo-500);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 4px solid var(--indigo-500);
    padding: 8px 24px;
    margin-right: 15px;
    margin-top: 30px;
}

.medium-emphasis-wide:hover{
    background-color: var(--indigo-500);
    color: var(--gris-100);
    border-color: var(--indigo-500);
}

.low-emphasis{
    color: var(--gris-800);
}

.low-emphasis-wide{
    color: var(--gris-800);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 4px solid var(--gris-400);
    padding: 8px 24px;
    margin-right: 15px;
    margin-top: 30px;
}

.boton-rojo{
    color: var(--rojo-500);
    border-color: var(--rojo-300);
}
.boton-rojo:hover{
    background-color: var(--rojo-500);
    color: var(--gris-100);
    border-color: var(--rojo-500);
}

.boton-verde{
    color: var(--verde-500);
    border-color: var(--verde-300);
}
.boton-verde:hover{
    background-color: var(--verde-500);
    color: var(--gris-100);
    border-color: var(--verde-500);
}

.button-text{
    padding-left: 5px;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.card-container{
    padding: 10px 10px 30px 30px;
}

.card-form-container{
	padding-top: 10px;
	max-width: 340px;	
}

.attribute-title{
    line-height: 30px;
    color: var(--indigo-400);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.title-name{
    padding-top: 15px;
}

.attribute-value{
    font-size: 18px;
    padding-bottom: 10px;
}

.attribute-value-name{
    padding-bottom: 30px;
}

.form-container{
    display: grid;
    height: 100%;
    padding-top: 120px;
}

.login-form{
    justify-self: center;
    width: 300px;
    min-height: 500px;
    padding: 20px 0;
    background-color: var(--gris-100);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.logo-form{
    margin: 0 35px 0 35px;
    max-width: 100px;
    padding-bottom: 20px;
}

.input-wrapper{
    margin: 0 30px;
}

.button-wrapper{
    width: 100%;
    margin: auto;
    text-align: center;
}

.button-wrapper > input{
    display: inline;
    float: none;
    margin-top: 30px;
}

.login-label{
    line-height: 34px;
    color: var(--gris-600);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}